{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STAR</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                </div>
                <div class="sidebar-brand-text mx-3">STAR</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="fa fa-home"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/join-project">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Join Project</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manage-project">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Manage Project</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-project">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Create Project</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/equipment">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Equipment</span></a>
            </li>

            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/schedule">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Schadule</span></a>
            </li>
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="/relation">
                    <i class="fas fa-project-diagram"></i>
                    <span>Relation</span></a>
            </li>
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <br><br>
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow fixed-top">
                    <a class="navbar-brand text-center text-white" href="/home">STAR</a>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a href="/register" class="nav-link dropdown-toggle">Register</a>
                        </li>
                        {% if request.session.username %}
                        <li class="nav-item dropdown no-arrow">
                            <a href="/logout" class="nav-link dropdown-toggle">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown no-arrow">
                            <a href="/login" class="nav-link dropdown-toggle">Log In</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown no-arrow">
                            <a href="/profile" class="nav-link dropdown-toggle">
                                <span class="mr-2 d-none d-lg-inline">{{ request.session.username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static '/img/avatar.png' %}">
                            </a>
                        </li>                        
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid bg-star">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center text-white">
                                    <br><br>  
                                    <h1>Add Equipment</h1>
                                    <br><br>  
                                    <form action="/equipment/add-equipment/submit" method="post">
                                        <div class="form-group row">
                                            <div class="col">
                                                <label class="" for="site">Site</label>
                                                <input type="text"  class="form-control" id="site" name="site" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label class="" for="longitude">Longitude</label>
                                                <input type="number" step="0.01" class="form-control" id="longitude" name="longitude">
                                            </div>
                                            <div class="col">
                                                <label class="" for="latitude">Latitude</label>
                                                <input type="number" step="0.01" class="form-control" id="latitude" name="latitude">
                                            </div>
                                            <div class="col">
                                                <label class="" for="altitude">Altitude</label>
                                                <input type="number" step="0.01" class="form-control" id="altitude" name="altitude">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label class="" for="time_zone">Time Zone</label>
                                                <input type="text"  class="form-control" id="time_zone" name="time_zone" placeholder="eg: UTC+8" >
                                            </div>
                                            <div class="col">
                                                <label class="" for="daylight_saving">Daylight Saving</label>
                                                <select class="form-control" id="daylight_saving" name="daylight_saving">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label class="" for="water_vapor">Water Vapor</label>
                                                <input type="number" step="0.01" class="form-control" id="water_vapor" name="water_vapor">
                                            </div>
                                            <div class="col">
                                                <label class="" for="light_pollution">Light Pollution (M/SAS)</label>
                                                <input type="number" step="0.01" class="form-control" id="light_pollution" name="light_pollution">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label class="" for="aperture">Aperture</label>
                                                <input type="number" step="0.01" class="form-control" id="aperture" name="aperture">
                                            </div>
                                            <div class="col">
                                                <label class="" for="FoV">Fo V</label>
                                                <input type="number" step="0.01" class="form-control" id="FoV" name="FoV">
                                            </div>
                                            <div class="col">
                                                <label class="" for="pixel_scale">Pixel Scale</label>
                                                <input type="number" step="0.01" class="form-control" id="pixel_scale" name="pixel_scale">
                                            </div>
                                            <div class="col">
                                                <label class="" for="tracking_accuracy">Tracking Accuracy</label>
                                                <input type="number" step="0.01" class="form-control" id="tracking_accuracy" name="tracking_accuracy">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label class="text-white" for="limiting_magnitude">Limiting Magnitude (MAG)</label>
                                                <input type="number" step="0.01" class="form-control" id="limiting_magnitude" name="limiting_magnitude">
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="text-white" for="elevation_limit">Elevation Limit (DEG)</label>
                                                <input type="number" step="0.01" class="form-control" id="elevation_limit" name="elevation_limit">
                                            </div>
                                        </div>                                    
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label class="text-white" for="mount_type">Mount Type (German, Fork, Theodolite)</label>
                                                <select class="form-control" id="mount_type" name="mount_type">
                                                    <option>german</option>
                                                    <option>fork</option>
                                                    <option>theodolite</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">                
                                                <label for="camera_type(colored,mono)" class="text-white">Camera Type (Colored, Mono)</label>
                                                <select class="form-control" id="camera_type(colored,mono)" name="camera_type(colored,mono)">
                                                    <option>colored</option>
                                                    <option>mono</option> 
                                                </select>
                                            </div>
                                            <div class="col-lg-6">                
                                                <label for="camera_type(cooled,uncooled)" class="text-white">Camera Type (Cooled, Uncooled)</label>
                                                <select class="form-control" id="camera_type(cooled,uncooled)" name="camera_type(cooled,uncooled)">
                                                    <option>colored</option>
                                                    <option>uncooled</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-4">                
                                                <label for="Johnson_B" class="text-white">Johnson B</label>
                                                <select class="form-control" id="Johnson_B" name="Johnson_B">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">   
                                                <label for="Johnson_V" class="text-white">Johnson V</label>
                                                <select class="form-control" id="Johnson_V" name="Johnson_V">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">        
                                                <label for="Johnson_R" class="text-white">Johnson R</label>
                                                <select class="form-control" id="Johnson_R" name="Johnson_R">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                        </div>     
                                        <div class="form-group row">
                                            <div class="col">                
                                                <label for="SDSS_u" class="text-white">SDSS u</label>
                                                <select class="form-control" id="SDSS_u" name="SDSS_u">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                            <div class="col">                
                                                <label for="SDSS_g" class="text-white">SDSS g</label>
                                                <select class="form-control" id="SDSS_g" name="SDSS_g">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                            <div class="col">                
                                                <label for="SDSS_r" class="text-white">SDSS r</label>
                                                <select class="form-control" id="SDSS_r" name="SDSS_r">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                            <div class="col">                
                                                <label for="SDSS_i" class="text-white">SDSS i</label>
                                                <select class="form-control" id="SDSS_i" name="SDSS_i">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                            <div class="col">                
                                                <label for="SDSS_z" class="text-white">SDSS z</label>
                                                <select class="form-control" id="SDSS_z" name="SDSS_z">
                                                    <option>y</option>
                                                    <option>n</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <br><br>
                                            <button type="submit" class="btn btn-outline-light btn-block">Add Equipment</button>
                                        </div>
                                        
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
<script src="{% static 'js/main.js' %}"></script>